.private-header {
  background: $brand-primary;
  padding: 10px 0;
  color: #ffffff;
}

.private-header__content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  .button {
    color: #ffffff;
  }
}