$base-font-size: 16px;
$gray: #ddd;
$brand-primary: #5b4681;
$radius: 4px;
$max-width: 1200px;

$input-border: $gray;

$space: 15px;

$box-view-overlay-bg: $gray;
$box-view-bg: #fff;
$button-bg: $brand-primary;
$button-color: #fff;

$link-item-bg: #ddd;
$link-item-border: #9D9D9D;